*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* elementos basicos da pagina */

html {
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}


.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
}

/* animações do texto */

#presentation{
    background-image: url(FundoHome.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#presentation h1{
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}

#presentation h1:nth-child(1){
    animation-delay: 1s;
}

#presentation h1:nth-child(2){
    animation-delay: 2s;
}

#presentation h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

#presentation .cta{
    display: inline-block;
    padding: 10px 30px;
    color: gold;
    background-color: transparent;
    border: 2px solid gold;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .3s ease;
    transition-property: background-color, color;
}

#presentation .cta:hover{
    color: beige;
    font-weight: 500;
    background-color: gold;
}

#presentation h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: gold;
}

#presentation h1:nth-child(1) span{
    animation-delay: .5s;
}

#presentation h1:nth-child(2) span{
    animation-delay: 1.5s;
}

#presentation h1:nth-child(3) span{    
    animation-delay: 2.5s;
} 

#presentation::after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}


/* keyframes */

@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: gold;
    }
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;        
    }
    100%{
        width: 0;
        left: 100%;
    }
}
