/* elementos basicos seção projetos*/

.section-title {
    font-size: 4rem;
    font-weight: 700;
    color: darkblue;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.container-column{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;

}

.bg{
    background-image: linear-gradient(135deg, #e98e39, #b358ddec, #726cbc, #0d0f0e, #15122e);
    position: relative;
}

.bg::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(45deg, #000, #0c0c0c);
    opacity: 0.5;
}

/* estilização da seção projetos e imagens */

#projetos .projetos-header h1{
    margin-bottom: 50px;
}

#projetos .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

#projetos .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projetos .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #5a10b5 0%, #002349 100%);
    color: white;
}

#projetos .project-info h1{
    font-size: 4rem;
    font-weight: 500;
}

#projetos .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#projetos .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#projetos .project-img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.3;
}

#projetos .project-item:hover .project-img img{
    transform: scale(1.1);
}

/*media queries*/

@media only screen and (min-width: 768px){
    #projetos .project-item{
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #projetos .all-projects .project-info{
        height: 100%;
    }
    #projetos .all-projects .project-img{
        height: 100%;
    }
    #projetos .project-item:nth-child(even){
        flex-direction: row-reverse;
    }
}